<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekend Challenge 3</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/jquery-ui.theme.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Welcome to my weekend challenge!</h1>
    <h3>Proceed at your own risk...</h3>

    <div id="student_div">

    </div>
    <button id="show_btn" >Show another shout out</button>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/chance.js"></script>
    <script src="/javascripts/app.js"></script>
</body>
</html>